/*
css
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}
body {
  height: 150vh;
  background-color: #ced6e0;
  margin: 0 auto;
}
.Todo_Layout {
  display: flex;
  justify-content: center;
  min-height: 150vh;
}
.Todo_Container {
  width: 150vw;
  max-width: 800px;
  background-color: #ffffff;
  text-align: center;
}
.Todo_Container nav {
  height: 80px;
  background-color: #0a3d62;
  display: flex;
  align-items: center;
}
.Todo_Container nav h1 {
  color: white;
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif;
}
.Todo_Container nav .Right {
  flex: 2;
  display: flex;
  margin-left: auto;
}
.Todo_Container nav .Right div {
  padding-right: 10px;
  color: #f5f6fa;
  font-size: 0.6rem;
}
.Todo_Container nav .Center {
  flex: 4;
  display: flex;
  margin-left: 28px;
  /* margin: 0; */
}
.Todo_Container nav .Center input {
  width: 300px;
  height: 30px;
  outline: none;
  padding: 10px;
}
.Todo_Container nav .Center input::placeholder {
  font-size: 0.8rem;
  color: #8395a7;
}
.Todo_Container nav .Center span {
  display: inline-block;
  width: 40px;
  height: 30px;
  background-color: #487eb0;
  border: none;
  line-height: 30px;
  font-size: 0.8rem;
  color: #f5f6fa;
}
.Todo_Container nav .Left {
  flex: 2;
}
